	<%- include('../partials/admin_header'); %>

	<% if(message != "") {%>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
					  <strong><%= message %></strong> 
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
		</div>
	<%}%>

<div class="container" style="margin: 5px">
	<a  href="/admin/addPage" class="btn btn-primary"> Add New Page</a>
	
</div>

<table class="table table-dark">
  <thead>
    <tr class="home">
      <th scope="col">#</th>
      <th scope="col">title</th>
      <th scope="col">content</th>
      <th scope="col">edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  	<%page.forEach(function(page) {%>
    <tr id="id_<%=page.id%>" class = "<%=page.slug%>">
      <th scope="row">1</th>
      <td><%= page.title %></td>
      <td><%= page.content %></td>
      <%if(page.title == 'home') {%>
      	<td><a href="/admin/edit/<%= page.slug%>" class="btn-btn-success">edit</td>
  	<%}else {%>
  			<td><a href="/admin/edit/<%= page.slug%>" class="btn-btn-success">edit</td>
  			<td><a href="/admin/remove/<%= page.id%>" class="btn-btn-danger confirmDelete">Delete</td>
  	<%}%>
      

      
    </tr>
    	<%})%>
  </tbody>
</table>


 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


 <script type="text/javascript">
 	$('tbody').sortable({
 		items:'tr:not(".home")',
 		placeholder:'ui-state-highlight',
 		update:function() {
 			var id = $('tbody').sortable();
 			var url = '/admin/pageReoder';
 			$.post(url,id);
 		}
 	})
 </script>

<%- include('../partials/admin_footer'); %>



